# {{ansible_managed}}

[Unit]
Description=Prometheus alert manager service
After=network-online.target

[Service]
Restart=always
RestartSec=20
TimeoutSec=300
User={{ prometheus_service_user }}
Group={{ prometheus_service_group }}
StandardOutput=journal
StandardError=journal

ExecStart={{ alert_manager_install_dir }}/{{ alert_manager_archive }}/alertmanager {% for config in prometheus_alert_manager_service_config if config[1] is not none %}--{{ config[0] }}={{ config[1] }} {% endfor %}


[Install]
WantedBy=multi-user.target
