# {{ansible_managed}}

[Unit]
Description=Prometheus node_exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=network-online.target

[Service]
User={{ prometheus_service_user }}
Group={{ prometheus_service_group }}
Restart=on-failure

ExecStart={{ node_exporter_install_dir }}/{{ node_exporter_archive }}/node_exporter {% for config in prometheus_node_exporter_service_config if config[1] is not none %}--{{ config[0] }}={{ config[1] }} {% endfor %} {% for collector in prometheus_collector_____enabled_collectors %}--{{ collector }} {% endfor %}


[Install]
WantedBy=multi-user.target
